.filter-dropdown {
	display: flex;
	flex-direction: column;

	&__head {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		&:hover {
			.filter-dropdown__name {
				opacity: 0.8;
			}
		}
	}

	&__name {
		color: var(--dark-grey);
		font-family: var(--inter);
		font-size: 16px;
		font-weight: 500;
		line-height: 152%;
		transition: 0.3s;
	}

	

	&__body {
		transition: 0.3s;
		margin: 0;
		height: 0;
		opacity: 0;
		pointer-events: none;
		&.active {
			pointer-events: auto;
			margin: 11px 0 0 0;
			height: auto;
			opacity: 1;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}
