:root {
	--bright-green: #00c65e;
	--bright-green-06: rgba(0, 198, 92, 0.6);
	--bright-green-02: rgba(0, 198, 92, 0.2);
	--light-grey: #f7f7f7;
	--dark-grey: rgba(54, 58, 69);
	--dark-grey-06: rgba(54, 58, 69, 0.6);
	--dark-grey-03: rgba(54, 58, 69, 0.3);
	--white: #fff;
	--grey: #dadcdc;
	--grey-04: rgba(218, 220, 220, 0.4);
	--medium-grey: #efefef;
	--light-orange: #ffb762;
	--bright-orange: #f89358;
	--light-green: #ccefdb;
	--dark-green: #1e7836;
	--black: #000;
}
