@import '@/media';
.product-card {
	position: relative;
	width: 100%;
	border-radius: 8.01px;
	box-shadow: 1px 2px 16px 3px var(--dark-grey-008);
	background: var(--white);
	display: flex;
	padding: 10px 20px 30px 20px;
	height: auto;
	transition: 0.5s;

	&:hover{
		box-shadow: 1px 2px 16px 3px var(--dark-grey-03);
	}

	&.card {
		max-width: 250px;
		flex-direction: column;
	}

	&.row {
		max-width: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 20px 21px 20px;

		.product-card__info-container {
			flex: 1;
			margin: 0 0px 0 20px;
			display: flex;
			justify-content: center;
		}

		.product-card__button-container {
			margin: 10px 0 0 0;
			display: flex;
			flex-direction: row;
			gap: 20px;
			width: fit-content;
			justify-content: center;
		}
	}

	&__fav-container,
	&__info-container,
	&__button-container {
		&.placeholder {
			margin: 10px 0 0 0;
			width: 96%;
			height: 30px;
			background: var(--grey-04);
			border-radius: 5px;
		}
	}

	&__fav-container {
		position: absolute;
		top: 16px;
		right: 19px;
		z-index: 2;
	}

	&__info-container {
		margin: 1px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 0px;
		cursor: pointer;
	}

	&__button-container {
		margin: 28px 0 0 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	&__buttons {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
	}

	@include media-max(md) {
		&.row {
			max-width: 100%;
			flex-direction: row;
			justify-content: space-between;
			padding: 20px 20px 20px 20px;
			gap: 10px;

			.product-card__info-container {
				flex: 1;
				margin: 0 0px 0 20px;
				justify-content: center;
			}

			.product-card__button-container {
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: fit-content;
				justify-content: center;
			}
		}
	}

	@include media-max(xs) {
		box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
		padding: 20px 20px 20px 20px;

		&.card {
			// max-width: 150px;
			flex-direction: column;
		}

		&.row {
			max-width: 100%;
			flex-direction: row;
			justify-content: center;
			// padding: 20px 10px 30px 0px;

			flex-wrap: wrap;

			.product-card__image-container {
				max-width: 100px;
			}

			.product-card__info-container {
				flex: 1;
				margin: 0 0px 0 0px;
				justify-content: center;
				width: 100%;
			}

			.product-card__button-container {
				display: flex;
				flex-direction: column;
				gap: 14px;
				width: 100%;
				justify-content: center;
				padding: 0 20px;
				.buy-button {
					width: 100%;
					max-width: 100%;
				}
			}
		}

		&__fav-container {
			top: 10px;
			right: 10px;
		}

		&__info-container {
			gap: 7.5px;
		}

		&__button-container {
			margin: 25px 0 0 0;
			gap: 14.5px;
		}
	}

	@include media-max(xxs) {
		&.row {
			max-width: 100%;
			flex-direction: row;
			justify-content: space-between;
			padding: 7px;

			.product-card__image-container {
				max-width: 100%;
			}

			.product-card__info-container {
				flex: 1;
				margin: 0 0px 0 20px;
				justify-content: center;
			}

			.product-card__button-container {
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: 100%;
				justify-content: center;
			}
			.buy-button {
				width: 100%;
			}
		}
	}
}
