.support-content {
	width: 100%;
	max-width: 870px;

	&__title {
		font-family: var(--inter);
		font-weight: 700;
		font-size: 32px;
		line-height: 120%;
		color: var(--dark-grey);
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__drops-wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
