@import '@/media';

.pickup {
	&__content {
		margin-top: 20px;
		display: flex;
	}

	&__title {
		color: var(--dark-grey);
		font-size: 18px;
		font-weight: 700;
		line-height: 150%;
	}

	&__adress {
		color: var(--dark-grey);
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
		max-width: 180px;
		position: relative;
	}

	&__city {
		margin-top: 36px;
	}

	&__time {
		color: var(--dark-grey);
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		margin-top: 20px;
	}

	&__tel {
		margin-top: 20px;
		display: flex;
		align-content: center;
		flex-wrap: wrap;

		svg {
			width: 16px;
			height: 16px;
			margin-right: 10px;
		}
	}

	&__iframe {
		height: 405px;
		margin-left: 107px;
		max-width: 670px;
		width: 100%;
	}
}

@include media-max(sm) {
	.pickup {
		&__content {
			display: flex;
			flex-direction: column;
		}

		&__iframe {
			margin-left: 0px;
			height: 305px;
		}
	}
}
