@import '@/media';

.courier {
	display: flex;
	padding-bottom: 40px;

	.css-1u9des2-indicatorSeparator {
		display: none;
	}

	&__left {
		width: 100%;
		margin-right: 40px;
		// max-width: 554px;
	}

	&__form {
		padding: 30px;
		max-width: 554px;
		padding: 30px;
	}

	&__link {
		color: var(--dark-grey);
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
		text-decoration-line: underline;
		margin-top: 20px;
	}

	.select-container {
		width: 100%;
	}

	.select-label {
		color: var(--dark-grey);
		font-size: 16px;
		font-weight: 500;
		line-height: 152%;
		letter-spacing: 0px;
		text-align: left;
		margin-bottom: 5px;
	}

	&__right {
	}

	&__right-line {
	}

	&__price {
		&_text {
		}
	}

	&__etc {
	}
}

.selects-line {
	display: flex;
	gap: 30px;
}

.pickup {
	&__content {
		display: flex;
	}

	&__title {
		color: var(--dark-grey);
		font-size: 18px;
		font-weight: 700;
		line-height: 150%;
	}

	&__adress {
		color: var(--dark-grey);
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
		max-width: 180px;
	}

	&__city {
		margin-top: 36px;
	}

	&__time {
		color: var(--dark-grey);
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		margin-top: 20px;
	}

	&__tel {
		margin-top: 20px;
		display: flex;
		align-content: center;

		svg {
			width: 16px;
			height: 16px;
			margin-right: 10px;
		}
	}

	&__iframe {
		height: 405px;
		margin-left: 107px;
		max-width: 670px;
		width: 100%;
		margin-top: 20px;
	}
}

@include media-max(sm) {
	.delivery {
		.tabs__btns-wr {
			flex-direction: row;
		}
	}

	.pickup {
		&__content {
			display: flex;
			flex-direction: column;
		}

		&__iframe {
			margin-left: 0px;
			height: 305px;
		}
	}
}
