@import '@/media';

.delivery {
	.tabs__btns-wr {
		width: 462px;
		box-shadow: none;
	}

	.tabs__li {
		box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
		border-radius: 10px;
		color: rgb(0, 198, 94);

		&.active {
			color: white;
		}

		&:first-of-type {
			margin-right: 20px;
		}
	}
}



.selects-line {
	display: flex;
	gap: 30px;
}



@include media-max(sm) {
	.delivery {
		.tabs__btns-wr {
			flex-direction: row;
		}
	}

	.pickup {
		&__content {
			display: flex;
			flex-direction: column;
		}

		&__iframe {
			margin-left: 0px;
			height: 305px;
		}
	}
}
