.select {
	transition: 0.3s;
	width: 100%;
	height: 45px;
	cursor: pointer;
	padding: 12px 15px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid rgb(218, 220, 220);
	border-radius: 10px;
	background: rgb(255, 255, 255);

	&__title__wr {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		flex-shrink: 0;

		svg {
		}
	}

	&__title {
		color: var(--dark-grey);
		line-height: 150%;
	}

	&__ul {
		position: absolute;
		width: 100%;
		left: 0px;
		top: 43px;
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		z-index: 2;
		transition: 0.3s;

		&.active {
			grid-template-rows: 1fr;
		}
	}

	&__li {
		cursor: pointer;
		display: flex;
		justify-content: flex-start;
		padding: 12px 15px;
		border-radius: 10px;
		align-items: center;
		border: 1px solid rgb(218, 220, 220);
		background-color: white;
	}

	&__li:first-of-type {
		border: 1px solid rgb(218, 220, 220);
	}
}

.arrow_down {
	transition: 0.3s;
	z-index: 1;

	&.active {
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 576px) {
	.select {
		width: max-content;
		min-width: 151px;
		padding: 12px;

		&__ul {
			position: absolute;
			min-width: 151px;
			width: max-content;
		}
	}
}
