@import '@/media';
.support {
	// padding: 0 15px;
	margin: 20px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 30px;
	@include media-max(sm) {
		// padding: 0 15px;
		margin: 20px 0 0 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
