.product-slider {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__slider-placeholder {
		&.active{

		}
	}

	&__popup-wrapper {
		&.active {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			max-width: 830px;
			height: auto;
			background: var(--white);
			padding: 54px 45px;
			z-index: 3001;

			.swiper-buttons-wrapper {
				min-width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: absolute;
				top: 50%;
				left: 0%;

				.swiper-button-prev, .swiper-button-next {
					color: var(--bright-green) !important;
				}

				.swiper-button-prev:after, .swiper-button-next:after {
					font-size: 32px !important;
				}
			}
		}
		.swiper-buttons-wrapper_none {
			display: none;
		}
	}

	&__popup-container {
		&.active {
			width: 100%;
			max-width: 593px;
			margin: auto;

			.swiper {
				width: 100% !important;
				max-width: 100% !important;
			}
            
           .swiper-slide {
			width: 100% !important;
			max-width: 100% !important;
			height: 100% !important;
		   }

		   .swiper-slide img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		   }

		   .product-slider__thumbnail-slider {
			&.active {
				.swiper-wrapper {
					width: 100%;
					display: flex !important;
					justify-content: space-between !important;
					column-gap: 20px !important;
				}
			
			}
			
		   }

		   .product-slider__thumbnail-slide {
			max-width: 184px !important;
			padding: 10px !important;
			margin: 0 !important;
		  }
			
			.product-slider__thumbnail-slide img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
			}
		}
	}
	
	&__main-slider {
		height: 460px;
		width: 100%;
		max-width: 370px;
		position: relative;
		border: 1px solid #dadcdc;
		border-radius: 5px;

		&.active {
			border: none;
			width: 100%;
		}
	}

	&__main-slide {
		width: 100%;
		max-width: 370px;
		padding: 15px 26px;
	}

	&__main-img-box {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__main-img {
		object-fit: contain;
	}

	&__thumbnail-slider {
		width: 100%;
		max-width: 370px;
		height: 90px;
		width: 100%;
		position: relative;
		overflow: visible;
	}

	&__thumbnail-slide {
		border: 1px solid #dadcdc;
		border-radius: 5px;
		width: 100%;
		max-width: 100px;
		height: 90px;
		position: relative;
	}

	&__thumbnail-img {
		object-fit: contain;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 3000;
	}

	&__close-popup {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: var(--dark-grey-008);
		cursor: pointer;
	}

	&__close-popup:hover {
		transform: scale(120%);
	}
}
