.button_product {
	color: #fff;
	font-family: var(--inter);
	font-weight: 500;
	line-height: 120%;
	border-radius: 10px;
	background: rgb(0, 198, 94);
	padding: 12px 0;
	text-align: center;
	min-width: 150px;
}
