.support-nav-dropdown {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;

	&__theme,
	&__item {
		font-family: var(--inter);
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		color: var(--dark-grey);
	}

	&__theme {
		padding: 0 30px;
		display: flex;
		flex-direction: row;
        align-items: center;
		gap: 10px;
        cursor: pointer;
	}

	&__body {
        margin: -15px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 15px;
		transition: 0.2s;
		height: 0;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		&.active {
            margin: 0px 0 0 0;
			height: fit-content;
			width: 100%;
			visibility: visible;
			opacity: 1;
		}
	}

	&__item {
		padding: 0 55px;
		transition: 0.2s;
        cursor: pointer;
		&:hover {
			color: var(--bright-green-06);
		}
		&.active {
			color: var(--bright-green);
		}
	}

    .arrow{
        margin-top: -5px;
    }
}
