@import './modules/normalize.scss';
@import './vars/colors.scss';
@import './vars/fonts.scss';
@import './vars/base.scss';

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.icon {
	width: 89px;
	height: 31px;
}
