@import './modules/normalize.scss';
@import './vars/colors.scss';
@import './vars/fonts.scss';
@import './vars/base.scss';

@import '@/media';

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
	padding: 20px 0 80px 0;
}

.icon {
	width: 89px;
	height: 31px;
}

body {
	&.popup-is-active {
		overflow-y: hidden;
	}
}

.base-loading {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;	
	z-index: 5000;
}

.error-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;	
	z-index: 5000;
	background: var(--dark-grey);
}

.page-404 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-family: var(--inter);
		font-weight: 700;
		font-size: 22px;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: var(--bright-green);
	}

	&__image-box {
		width: 100%;
		max-width: 652px;
		height: 235px;
		flex: 1 1 auto;
		margin: 80px 0;
		position: relative;
	}

	&__image {
		object-fit: contain;
	}

	&__button {
		background: var(--bright-green);
		margin-top: 20px;
		border-radius: 10px;
		padding: 12px 56px;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 16px;
		line-height: 152%;
		color: var(--white);
		transition: 0.2s;
		&:hover {
			background: var(--white);
			color: var(--bright-green);
			border: 1px solid var(--bright-green);
		}
	}
	
	@include media-max(sm) {
		padding: 0 15px;
		&__title {
			text-align: center;
		}
		&__image-box {
			margin: 20px 0;
		}
		&__button {
			padding: 12px 26px;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 3000;
	//overflow-y: scroll;
}
