.search-header {
	width: 100%;
	max-width: 300px;
	margin: 0 0 0 auto;

	&__control,
	&__menu {
		background: var(--white);
		width: 100%;
		padding: 5px 0;
	}

	&__control {
		padding: 5px 15px;
		border-radius: 18px;

		&.css-cp01gg-control {
			min-height: 28px;
		}
	}

	&__menu {
		box-shadow: 0 7px 10px var(--dark-grey-03);
		top: calc(100% + 50px);
		border-radius: 7px;
	}

	&__menu-list {
		padding: 5px 0;

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			background: var(--white);
		}

		&::-webkit-scrollbar-thumb {
			border: 2px solid var(--white);
			background: var(--dark-grey-03);
		}
	}

	&__indicator {
		display: none;
	}

	

	&__option {
		padding: 5px 10px;
		cursor: pointer;

		&:hover {
			color: var(--white);
			background: var(--dark-grey-03);
		}
	}
}
