@import '@/media';

.search-header {
	width: 100%;
	max-width: 300px;
	margin: 0 20px;

	&__control,
	&__menu {
		background: var(--white);
		width: 100%;
		padding: 5px 0;
	}

	&__control {
		padding: 5px 15px;
		border-radius: 18px;
		min-height: 28px !important;
		box-shadow: 0 0 1px var(--dark-grey);

		&:hover {
			box-shadow: 0 0 10px var(--grey);
		}

		&:focus {
			box-shadow: 0 0 10px var(--dark-grey);
		}
	}

	&__menu {
		box-shadow: 0 0 10px var(--dark-grey-03);
		top: calc(100% + 50px);
		border-radius: 7px;

		&.css-100ebu3-menu {
			top: calc(100% + 5px);
		}
	}

	&__menu-list {
		padding: 5px 0;

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			background: var(--white);
		}

		&::-webkit-scrollbar-thumb {
			border: 2px solid var(--white);
			background: var(--dark-grey-03);
		}
	}

	&__indicator {
		display: none;
	}

	&__placeholder {
		color: var(--dark-grey-03);
		font-weight: 500;
	}

	&__option {
		padding: 5px 10px;
		cursor: pointer;
		display: -webkit-box;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;

		&:hover {
			background: var(--grey-04);
		}
	}
}

@include media-max(md) {
	.search-header {
		max-width: 100%;
	}
}

@include media-max(xs) {
	.search-header {
		margin: 0;
		min-width: 150px;
	}
}