.search-header {
	width: 100%;
	max-width: 300px;
	margin: 0 0 0 auto;

	&__control,
	&__menu {
		background: var(--white);
		border-radius: 18px;
		width: 100%;
		padding: 5px 0;
	}

	&__control {
		padding: 5px 15px;

		&.css-cp01gg-control {
			min-height: 28px;
		}
	}

	&__menu {
		border: 1px solid var(--dark-grey-03);
		top: calc(100% + 50px);
	}

	&__menu-list {
		padding: 5px 0;
	}

	&__indicator {
		display: none;
	}
}
