@import '@/media';

.product {
	&__info {
		&_box {
			border-radius: 5px;
			background: rgb(255, 255, 255);
			padding: 25px 22px;
			box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);

			&_price-line {
				display: flex;
				// justify-content: space-between;
				align-items: center;

				&_price_text {
					color: var(--dark-grey-06);
					font-size: 16px;
					font-weight: 500;
					line-height: 152%;
					margin-right: 10px;
				}

				&_price_number {
					color: #000;
					font-size: 16px;
					font-size: 24px;
					font-weight: 700;
					line-height: 1;
				}
			}

			&_icons-line {
				margin-top: 20px;
				display: flex;
			}

			&_icon-col {
				display: flex;
				align-items: center;
				margin-right: 40px;

				&_text {
					color: var(--dark-grey-06);
					font-weight: 600;
					line-height: 150%;
					letter-spacing: 0px;
					text-align: left;
					margin-right: 10px;
				}

				&_icon {
					cursor: pointer;
					display: flex;
					align-items: center;

					svg {
						width: 19px;
						height: 15px;
					}
				}
			}
		}

		&_buy-btn {
			margin-top: 20px;
			width: 100%;
		}
	}
}

@include media-max(lg) {
	.product__info__right {
		&__right {
			max-width: 350px;
			justify-self: center;
		}
	}
}

@include media-max(md) {
	.product__info__right {
	}
	.product {
		&__info {
			&_box {
				width: 100%;

				&_icons-line {
					flex-direction: column;
				}

				&_icon-col {
					margin-bottom: 10px;
				}
			}
		}
	}
	.product__info__right {
		justify-self: start;
		width: 100%;
		margin: 0 0 20px 0;
	}
}

@include media-max(sm) {
	.product__info_deliver-btn {
		display: none !important;
	}
}

@include media-max(sm) {
	.product__info__right {
		margin: 20px 0 0 0;
	}
}
