.status-popup {
	transition: 0.2s;
	&.success,
	&.waiting,
	&.failed {
		top: 0;
		left: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		background: var(--dark-grey-06);
		display: flex;
		justify-content: center;
		align-items: center;
		visibility: visible;
		opacity: 1;
	}

	&.idle {
		width: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
	}

	&__box {
		width: 100%;
		max-width: 320px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
		justify-content: center;
	}

	&__popup-text {
		font-family: var(--inter);
		font-weight: 500;
		font-size: 14px;
		line-height: 120%;
		color: var(--white);
        width: 100%;
		max-width: 280px;
        text-align: center;
	}

	&__button {
		border-radius: 10px;
		width: 226px;
		height: 41px;
		background: var(--bright-green);
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--inter);
		font-weight: 500;
		font-size: 14px;
		line-height: 120%;
		color: var(--white);
		width: 100%;
		max-width: 226px;
	}
}
