@import '@/media';

.product-card {
	&__metrics {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 9px 0 0;
		width: 100%;
	}

	&__price-block {
		display: flex;
		flex-direction: column;
		gap: 7px;
	}

	&__discount {
		color: var(--bright-green);
		font-family: var(--inter);
		font-size: 10.74px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.31px;
		text-align: center;
	}

	&__price {
		color: var(--bright-green);
		font-family: var(--inter);
		font-size: 18px;
		font-weight: 700;
		line-height: 150%;

		&.discounted {
			color: var(--grey);
			text-decoration: line-through;
		}
	}

	&__r-c-block,
	&__r-c-item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__r-c-block {
		gap: 15px;
		color: var(--dark-grey);
		font-family: var(--inter);
		font-size: 12px;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: 0px;
	}

	&__r-c-item {
		gap: 5px;
	}

	@include media-max(xs) {
		&__discount {
			font-size: 9.74px;
			line-height: 100%;
		}

		&__price {
			font-size: 14px;
			line-height: 100%;
		}

		&__r-c-block {
			gap: 7.5px;
			font-size: 10px;
		}

		&__r-c-item {
			gap: 3px;
		}
	}
}
