@import '@/media';

.header,
.top-header {
	position: relative;
}

.top-header__row,
.top-header__actions,
.top-header__enter-link,
.bottom-header__row,
.bottom-header__popup-wrap,
.bottom-header__right {
	display: flex;
	align-items: center;
}

.top-header {
	padding: 17px 0 13px;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 6px;
		width: 100%;
		background: linear-gradient(
			90deg,
			#00c65e 25.16%,
			rgba(0, 198, 94, 0) 100%
		);
	}

	&__row {
		justify-content: space-between;
	}

	&__enter-link {
		margin: 0 0 0 30px;

		&:hover {
			color: var(--dark-grey-06);
		}

		svg {
			margin: 0 10px 0 0;
			width: 13px;
			height: 13px;
			fill: var(--bright-green);
		}
	}
}

.bottom-header {
	padding: 11px 0;
	background: var(--light-grey);

	&__right {
		margin: 0 0 0 auto;
	}

	&__support-link {
		display: inline-block;
		margin: 0 30px 0 0;

		&:hover {
			opacity: .7;
		}
	}
}
