.product-card {
	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-family: var(--poppins);
		font-weight: 500;
		width: 100%;
		max-width: 200px;
	}

	&__category {
		color: var(--grey);
		font-size: 12px;
		line-height: 140%;
	}

	&__name {
		color: var(--dark-grey);
		font-size: 16px;
		line-height: 152%;
	}
}
