@import '@/media';

.tabs {
	margin-top: 30px;

	&__btns-wr {
		display: flex;
		box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	}

	li {
		flex-grow: 1;
	}

	&__li {
		color: black;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.5;
		padding: 11px 48px;
		transition: 0.3s;
		cursor: pointer;
		flex-grow: 1;
		// border-left: 1px solid rgba(239, 239, 239);
		// border-right: 1px solid rgba(239, 239, 239);
		//border: 1px solid rgba(239, 239, 239);
		text-align: center;

		&:first-of-type {
			border-radius: 10px 0px 0px 10px;
			border: none;
		}

		&:last-of-type {
			border-radius: 0 10px 10px 0px;
			border: none;
		}

		&.active {
			color: #fff;
			background: rgb(0, 198, 94);
		}
	}

	&__btn {
		color: inherit;
	}
}

.tab__content-wr {
	border-radius: 10px;
	box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	background: rgb(255, 255, 255);
	padding: 40px 50px;
	margin-top: 20px;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.courier__form {
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	.select-label {
		margin-bottom: 5px;
	}
}

.courier__link {
	display: none;
}

@include media-max(md) {
	.tabs {
		&__li {
			padding: 15px 10px;
		}

		.tab__content-wr {
			box-shadow: none;
			padding: 0;
		}
	}

	.tab__content-wr {
		padding: 20px;
	}
}

@include media-max(sm) {
	.tabs__btns-wr {
		flex-direction: column;
		padding: 10px 20px;
	}

	.tabs__li {
		border-radius: 10px;

		&:first-of-type {
			border-radius: 10px;
		}

		&:last-of-type {
			border-radius: 10px;
		}
	}
}

@include media-max(xs) {
	.tabs__btns-wr {
		box-shadow: none;
		padding: 0;
	}

	.tab__content-wr {
		padding: 20px 10px;
	}
}