@import '@/media';

.tabs {
	margin-top: 30px;

	&__btns-wr {
		display: flex;
		box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	}

	li {
		flex-grow: 1;
	}

	&__li {
		color: black;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.5;
		padding: 11px 48px;
		transition: 0.3s;
		cursor: pointer;
		flex-grow: 1;
		border-left: 1px solid rgba(239, 239, 239);
		border-right: 1px solid rgba(239, 239, 239);
		text-align: center;

		&:first-of-type {
			border-radius: 10px 0px 0px 10px;
			border: none;
		}

		&:last-of-type {
			border-radius: 0 10px 10px 0px;
			border: none;
		}

		&.active {
			color: #fff;
			background: rgb(0, 198, 94);
		}
	}

	&__btn {
		color: inherit;
	}
}

.description {
	&__title {
		color: #000;
		font-size: 24px;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0px;
		margin-bottom: 40px;
	}

	&__text {
		color: var(--dark-grey);
		font-weight: 500;
		line-height: 150%;
		letter-spacing: 0px;
	}
}

.characteristics {
	&__title {
		color: var(--dark-grey);
		font-size: 24px;
		font-weight: 700;
		line-height: 150%;
		text-align: left;
		margin: 0 0 40px 0px;
	}

	&__list {
	}

	&__line {
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgb(239, 239, 239);
		border-top: 1px solid rgb(239, 239, 239);
		padding: 10px 0;
	}

	&__key,
	&__value {
		color: #000;
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
		min-width: 220px;
	}
}

.tab__content-wr {
	border-radius: 10px;
	box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	background: rgb(255, 255, 255);
	padding: 40px 50px;
	margin-top: 20px;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.credit {
	&__title {
		color: var(--dark-grey);
		font-size: 24px;
		font-weight: 700;
		line-height: 150%;
		margin-bottom: 40px;
	}
}
.credit-box {
	padding: 25px 20px;
	border-radius: 10px;
	box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	background: rgb(255, 255, 255);
	margin-bottom: 40px;

	&_small {
		max-width: 484px;
	}

	&__title {
		color: var(--dark-grey);
		font-size: 18px;
		font-weight: 700;
		line-height: 150%;
	}

	&__ol {
		list-style: none;
		counter-reset: item;
		margin-top: 30px;

		&_installment {
		}
	}

	&__left-text {
		color: var(--dark-grey);
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0px;
		text-align: left;
	}

	&__right-text {
		color: var(--dark-grey);
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: 0px;
		text-align: left;
	}

	&__li {
		color: var(--dark-grey);
		font-size: 16px;
		font-weight: 500;
		line-height: 152%;
		margin-bottom: 5px;

		span {
			font-weight: 700;
		}

		&_installment {
			display: flex;
			justify-content: space-between;
			border-top: 1px solid rgb(239, 239, 239);
			border-bottom: 1px solid rgb(239, 239, 239);
			padding: 10px 0;
		}
	}
}

@include media-max(md) {
	.tabs {
		&__li {
			padding: 15px 10px;
		}
	}

	.tab__content-wr {
		padding: 20px;
	}
}

@include media-max(sm) {
	.tabs__btns-wr {
		flex-direction: column;
	}

	.tabs__li {
		border-radius: 10px;

		&:first-of-type {
			border-radius: 10px;
		}

		&:last-of-type {
			border-radius: 10px;
		}
	}
}

@include media-max(xs) {
	.characteristics {
		&__key,
		&__value {
			min-width: 100px;
		}
	}
}
