@import "@/media";
.order-payment {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__title {
		font-family: var(--inter);
		font-weight: 700;
		font-size: 18px;
		line-height: 150%;
		color: var(--dark-grey);
	}

	&__radios {
        display: grid;
		grid-template-columns: repeat(auto-fit, minmax(170px, 297px));
		justify-items: center;
		row-gap: 11px;
		column-gap: 30px;
	}
    @include media-max(md) {
        &__radios {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
            justify-items: center;
        }
    }
    @include media-max(xxs) {
        &__radios {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-items: center;
        }
    }
}
