.breadcrumbs {
	overflow-x: auto;
	font-family: var(--nunito);
	font-size: 14px;
	font-weight: 400;

	&__ul {
		width: max-content;
		display: flex;
	}

	&__li {
		color: var(--dark-grey);
		font-family: Roboto;
		line-height: normal;
		&_active {
			color: #000;
		}
	}

	&__separator {
		margin: 0 5px;
	}
}
