.crumb {
	display: flex;
	align-items: center;
  }
  
  .breadcrumbs {
	font-family: var(--inter);
	font-size: 14px;
	font-weight: 400;
	margin: 20px 0 40px;
			
	&__ul {
	  display: flex;
	  column-gap: 5px;
	  list-style: none; 
	}
  
	&__li {
	  display: flex;
	  align-items: center;
	  color: var(--dark-grey);
	  font-family: var(--inter);
	  transition: all 0.2s ease-in;
	}
  
	.breadcrumb-separator {
	  margin: 0 5px;
	  color: var(--dark-grey); 
	}
  
	a:hover {
	  text-decoration: underline;
	}
  }
  