.product {
	border-radius: 10px;
	box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	background: rgb(255, 255, 255);
	padding: 30px 50px;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 370px 1fr;

	&__slider-container {
		max-width: 370px;
	}

	&__title {
		margin: 0 0 30px 0;
		color: var(--dark-grey);
		font-family: var(--inter);
		font-size: 24px;
		font-weight: 700;
		line-height: 150%;
		grid-column: 1/3;
	}

	&__info_deliver-btn {
		margin-top: 30px;
		width: 100%;
		color: rgb(255, 255, 255);
		font-size: 14px;
		align-items: center;
		display: flex;
		justify-content: center;

		svg {
			margin-left: 5px;
		}
	}
}
