@import '../../../../styles/mixins/media.scss';

.catalog-filters {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 25px 30px 30px 30px;
	max-width: 270px;
	border-radius: 0px 0px 2px 2px;
	background: var(--white);
	box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
	height: fit-content;

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__button {
		box-sizing: border-box;
		border: 1px solid var(--bright-green);
		border-radius: 10px;
		background: var(--white);
		color: var(--bright-green);
		font-family: var(--inter);
		font-size: 14px;
		font-weight: 500;
		line-height: 120%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: 0.2s;

		width: 100%;
		max-width: 210px;
		&:hover {
			background: var(--bright-green);
			color: var(--white);
		}
	}

	&__mobile-button {
		display: none;
	}

	@include media-max(sm) {
		position: fixed;
		right: 0;
		z-index: 5;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 90vh;
		padding: 25px 30px 30px 20px;

		&__buttons {
			position: sticky;
			bottom: 0;
			display: flex;
			flex-direction: row;
			gap: 20px;
			width: 215px;
			margin-top: auto; 
		}
	}
}
